# MySQL
MYSQL_HOST=127.0.0.1
MYSQL_USER=seu_usuario
MYSQL_PASSWORD=sua_senha
MYSQL_DATABASE=Chinook
MYSQL_SOCKET=/tmp/mysql.sock

# PostgreSQL
POSTGRES_HOST=localhost
POSTGRES_USER=seu_usuario
POSTGRES_PASSWORD=sua_senha
POSTGRES_DATABASE=chinook
POSTGRES_PORT=5432